# Dependencies
node_modules/
.venv/
__pycache__/

# Environment
.env
.DS_Store

# Build
dist/
build/
*.log

# IDE
.vscode/
.idea/

# Large Files & Models
*.pkl
backend/ml_engine/*.pkl
backend/ml_engine/crop_data.json
